.box-button {
  width: 100px;
  height: 100px;
  border: black solid 1px;
  color: white;
  font-size: 50px;
  border-radius: 0;
}
.default-button {
  width: 100px;
  height: 100px;
  border: black solid 1px;
  color: white;
  background: lightgray;
  font-size: 50px;
  border-radius: 0;
}
